@mixin linestar{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
@mixin star {
    display: inline-block;
    margin: 0px 5px;
    position: relative;
    top:-20px;
    
}
$colorHeader:rgb(27, 148, 112); 
$textrHeader:white;
// -----------------CONTACT------------------------
.contact{
    width: 40%;
    h2{
        text-align: center;
        padding: 20px 0;
        color: black;
    }
    .lineStar{
        @include linestar;
    }
    .line {
        display: inline-block;
        height: 30px;
        width: 40px;
        border-top: 3px solid black;
      }
    .star{
        @include star;
    }  
    .send{
        background-color: $colorHeader;
        color:$textrHeader;
        margin-bottom: 40px;
        padding:5px;
    }
    input, textarea{
        margin-bottom: 5px;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: solid ;
      
    }
}