nav{   
    
    height: 45px;
}
    .navbar ul li{
        list-style: none;
        float: right;
        padding: 10px;
        margin-right: 50px;
    }
    a{
        color: $textrHeader;
        text-decoration: none;
    }
    ul{
        margin: 0;
    }
    .hover{
        float: left;
        padding-left: 100px;
        padding-top: 15px;
            
    }
    .navbar-brand{
        margin-left: 50px;
    }
    .navbar a:hover {
        font-weight: bolder;    
        color: $textrHeader ;
      }
    .navbar::after{
        clear: both;
    }      
