.contact {
  width: 40%;
}

.contact h2 {
  text-align: center;
  padding: 20px 0;
  color: black;
}

.contact .lineStar {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.contact .line {
  display: inline-block;
  height: 30px;
  width: 40px;
  border-top: 3px solid black;
}

.contact .star {
  display: inline-block;
  margin: 0px 5px;
  position: relative;
  top: -20px;
}

.contact .send {
  background-color: #1b9470;
  color: white;
  margin-bottom: 40px;
  padding: 5px;
}

.contact input, .contact textarea {
  margin-bottom: 5px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
}

nav {
  height: 45px;
}

.navbar ul li {
  list-style: none;
  float: right;
  padding: 10px;
  margin-right: 50px;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  margin: 0;
}

.hover {
  float: left;
  padding-left: 100px;
  padding-top: 15px;
}

.navbar-brand {
  margin-left: 50px;
}

.navbar a:hover {
  font-weight: bolder;
  color: white;
}

.navbar::after {
  clear: both;
}

.portfolio {
  width: 60%;
  margin-bottom: 50px;
}

.portfolio h2 {
  text-align: center;
  padding: 20px 0;
  color: black;
}

.portfolio .lineStar {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.portfolio .line {
  display: inline-block;
  height: 30px;
  width: 40px;
  border-top: 3px solid black;
}

.portfolio .star {
  display: inline-block;
  margin: 0px 5px;
  position: relative;
  top: -20px;
}

.portfolio .img6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.portfolio img {
  height: 140px;
  margin: 5px;
}

@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Bold.ttf);
  font-weight: bold;
}

* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h6, h4 {
  font-family: Lato;
}

p {
  font-family: Lato;
}

.imgAbout {
  background-color: #1b9470;
}

.imgAbout img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  width: 15%;
}

.imgAbout h1 {
  padding: 10px 0;
  color: white;
}

.imgAbout h6 {
  color: white;
  padding-bottom: 50px;
}

.lineStar {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.line {
  display: inline-block;
  height: 30px;
  width: 40px;
  border-top: 3px solid white;
}

.star {
  display: inline-block;
  margin: 0px 5px;
  position: relative;
  top: -20px;
}

.about {
  background-color: #1b9470;
  color: white;
}

.about h2 {
  text-align: center;
  padding: 20px 0;
}

.about .paragraf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.about input {
  border: 1px solid white;
  text-align: center;
  padding: 5px 10px;
  background-color: #1b9470;
  color: white;
  position: relative;
  right: -400px;
  margin-bottom: 50px;
}

.about input:hover {
  font-weight: bolder;
  color: black;
  border: 1px solid black;
}

footer {
  background-color: #1b9470;
  color: white;
  text-align: center;
  height: 260px;
}

footer p {
  font-size: 11px;
  margin: 2px;
}

footer .footerflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 70%;
}

footer section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer h4 {
  padding: 20px;
}

footer .web {
  text-align: center;
  padding: 10px;
}

footer img {
  width: 40px;
}

footer .grey {
  color: grey;
  font-size: 8px;
}

@media screen and (max-width: 990px) {
  .paragraf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about input {
    position: relative;
    right: -250px;
  }
  .footerflex {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .about input {
    position: relative;
    right: -150px;
  }
  .contact {
    width: 60%;
  }
  .contact textarea {
    max-width: 300px;
  }
  footer {
    height: 500px;
  }
  .footerflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1px;
  }
  .grey {
    padding-bottom: 1px;
  }
}
/*# sourceMappingURL=main.css.map */